#main{z-index: 1;}

.header{margin-top:10vh;}

.txtCenter{
	text-align: center;
	vertical-align: middle;
}

.iconSize{
	margin-top:3vh;
	font-size: 8vh;
}
.autoSize{
	width:100%;
	height:14vh;
	font-size: 4vh;
	
}
.boarder{
	border: 3px solid  gray;
    border-radius: 5px;
}
.holderOn{
	margin-top: -4vh;
	opacity:0.5;
}
.block{
	margin-top:3vh;
	height:10vh;
}
.hiden{
	opacity:0.3;
}
.translucent{
	opacity:0.7;
}
.bottom-tab{
	position: fixed;
	bottom: 0px;
	width:100vw;
	z-index: 3;
	color: white;
}
.tab{
	width:95vw;
	margin-right: auto;
	margin-left: auto;
}
.tabL{
	width:90%;
	display:inline-block;
}
.tabR{
	width:10%;
	right:0;
	display:inline-block;
}
.complete{ 
	background-color: #5cb85c;
	border-color: #4cae4c;
}
.warning{
	background-color: #f0ad4e;
	border-color: #eea236;
}
.error{
	background-color: #d9534f;
	border-color: #d43f3a;
}

.infoBox{
	border: 3px solid  rgba(100, 100, 100, .1);
    border-radius: 5px;
	margin: 15px;
}
.infoBlock{
	width:100%;
}
.subInfoBox{
	border-bottom: 3px solid  rgba(100, 100, 100, .1);
	border-top: 3px solid  rgba(100, 100, 100, .1);
}
.title{
	display:inline-block;
	padding: 10px;
	width:30%;
	text-align: justify;
}
.value{
	display:inline-block;
	width:70%;
}
.paddingLR{
	margin:15px;
}
.fullScreen{
	z-index: 10;
}
.screen{	
	position:absolute;
	width:100vw;
	height:100vh;
	opacity:0.3;
	background-color:black;
	z-index: 11;
}
.loader {
	position:absolute;
	top:45vh;
	left:45vw;
    border: 2vw solid #8B8B8B; 
    border-top: 2vw solid #3498db; 
    border-radius: 50%;
    width: 10vw;
    height: 10vw;
    animation: spin 2s linear infinite;	
	z-index: 12;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}